<div>
  <form action="/create" method="post">
    <input type="text" name="blogTitle" placeholder="Blog Title" />
    <br />
    <textarea rows="6" cols="25" name="postBody" placeholder="Blog Body"></textarea>
    <br />
    <input type="submit" value="Create Post" />
  </form>
