<html>
    <head>
        <link rel="stylesheet"
        href="/static/libs/bootstrap/dist/css/bootstrap.css" />
        <script
        src="/static/libs/jquery/dist/jquery.js"></script>
        <script
        src="/static/libs/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
